.admin__sidebar
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-right: 2px solid #eaeaea;
    padding: 16px 32px 8px 32px;
    min-height: 100vh;
    box-sizing: border-box;
}

.sidebar__logo
{
    position: sticky;
    top: 16px;
}


@media screen and (max-width: 1150px)
{
    .admin__sidebar
    {
        align-items: center;
        min-height: auto;
        width: 100%;
        border-right: 0;
        border-bottom: 2px solid #eaeaea;
    }

    .sidebar__logo
    {
        position: static;
    }
}