.articles__button
{
    background: var(--primary-green);
    padding: 8px;
    margin-top: 46px;
    margin-bottom: 32px;
    width: 120px;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles__button:hover
{
    background: var(--hover-green);
}

.button__icon
{
    color: white;
    padding-right: 4px;
}