.articles__table
{
    border-spacing: 0;
    margin-bottom: 46px;
    width: 80%;
    max-width: 1000px;
    background: #fff;
    box-shadow: var(--primary-shadow);;
    border-radius: 4px;
}

.articles__table .table__row:nth-child(even)
{
    background: #fafafa;
}

.table__cell
{
    position: relative;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

.table__cell--heading
{
    font-weight: bold;
    padding: 16px;
    border-width: 2px;
    border-top: 1px solid #eaeaea;
}

.cell__link
{
    border: 0;
    background: transparent;
}

.cell__icon
{
    color: var(--primary-green);
}

.cell__icon:hover
{
    cursor: pointer;
    color: var(--hover-green);
}

.cell__image
{
    height: 50px;
    width: 90px;
    border-radius: 4px;
}


@media screen and (max-width: 1400px)
{
    .table__cell:nth-child(5)
    {
        display: none;
    }
}

@media screen and (max-width: 900px)
{
    .table__cell:nth-child(4)
    {
        display: none;
    }
}

@media screen and (max-width: 700px)
{
    .table__cell:nth-child(3)
    {
        display: none;
    }
}

@media screen and (max-width: 550px)
{
    .table__cell:nth-child(1)
    {
        display: none;
    }
}