.header__items
{
    display: flex;
    margin-right: 150px;
    margin-left: 32px;
}

.header__items > :last-child
{
    margin-left: 32px;
}

.items__button
{
    padding: 10px;
    width: 128px;
    border: 0;
    border-radius: 4px;
}

.items__button--primary
{
    background: var(--primary-green);
    color: #fff;
}

.items__button--primary:hover
{
    background: var(--hover-green);
    cursor: pointer;
}

.items__button--secondary
{
    background: #fff;
    border: 1px solid;
    padding: 9px 10px 9px 10px;
}

.items__button--secondary:hover
{
    color: var(--primary-green);
    cursor: pointer;
}


@media screen and (max-width: 1130px)
{
    .header__items
    {
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
    }
}