.header__items
{
    display: flex;
    align-items: center;
    margin-right: 150px;
    margin-left: 32px;
}

.header__items > :last-child:not(.items__account-logout)
{
    margin-left: 32px;
}

.items__button
{
    padding: 9px;
    width: 128px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.items__button--primary
{
    background: var(--primary-green);
    color: #fff;
}

.items__button--primary:hover
{
    background: var(--hover-green);
    cursor: pointer;
}

.items__button--secondary
{
    background: #fff;
    border: 1px solid;
    padding: 8px 10px 8px 10px;
}

.items__button--secondary:hover
{
    color: var(--primary-green);
    cursor: pointer;
}

.items__account-image
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.items__account-login
{
    margin-left: 10px;
}

.items__account-login:hover
{
    color: var(--hover-green);
}

.items__account-logout
{
    height: 21px;
    margin-left: 16px;
}

.items__account-logout-icon
{
    font-size: 22px !important;
}

.items__account-logout-icon:hover
{
    color: var(--primary-green);
}


@media screen and (max-width: 1130px)
{
    .header__items
    {
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
        display: none;
    }

    .header__items--expanded
    {
        display: flex;
    }
}