.header__menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 4;
    margin-left: 32px;
}

.menu__item
{
    list-style-type: none;
    margin-right: 40px;
}

.menu__link
{
    text-decoration: none;
}

.menu__link:hover
{
    color: var(--primary-green); 
}


@media screen and (max-width: 1130px)
{
    .header__menu
    {
        margin-top: 16px;
        flex-direction: column;
        margin-left: 0;
    }

    .menu__item
    {
        margin-right: 0;
        padding-bottom: 10px;
    }
}