.header__search-form
{
    display: flex;
    flex: 1;
    align-items: center;
}

.search-form__input
{
    padding: 10px 10px 0 10px;
    border-width: 0 0 1px 0;
    border-color: #eaeaea;
    margin-right: 6px;
    margin-bottom: 8px;
    font-size: 16px;
    width: 240px;
    visibility: hidden;
}

.search-form__button
{
    background: #fff;
    border: 0;
    padding-top: 4px;
}

.search-form__icon
{
    color: var(--text-color);
    font-size: 28px !important;
}

.search-form__icon:hover
{
    cursor: pointer;
    color: var(--primary-green);
}

@media screen and (max-width: 1130px)
{
    .header__search-form
    {
        margin-top: 8px;
    }

    .search-form__input
    {
        visibility: visible;
    }
}