.home__card
{
    padding: 24px;
    box-shadow: var(--primary-shadow);
    border-radius: 4px;
}

.home__card--stats
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
        "icon category"
        "icon value"
}

.card__icon
{
    grid-area: icon;
    font-size: 55px !important;
    color: var(--primary-green) !important;
    padding: 3px;
}

.card__category
{
    grid-area: category;
    text-align: right;
}

.card__value
{
    grid-area: value;
    text-align: right;
    font-size: 26px;
}

.home__card--chart
{
    grid-column: auto / span 2;
    padding: 8px;
}

#card__chart--visits, #card__chart--browsers
{
    width: 614px !important;
    height: 400px !important;
}


@media screen and (max-width: 710px)
{
    .home__card--chart
    {
        grid-column: 1 / span 1;
    }
    
    #card__chart--visits, #card__chart--browsers
    {
        width: 267px !important;
    }
}