.article__form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.form__label
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 24px;
}

.form__input
{
    color: var(--text-color);
    margin-top: 8px;
    padding: 12px;
    border-radius: 4px;
    box-shadow: var(--primary-shadow);
    border: 0;
    resize: vertical;
    background: #fff;
    font-weight: 500;
    max-height: 775px;
}

.form__input:focus
{
    box-shadow: var(--hover-shadow);
    transition: box-shadow .3s;
}

.form__input--invalid
{
    box-shadow: 0 0 12px 4px #ff000033 !important;
}

.form__error
{
    margin-top: 10px;
    color: #ff000099;
    font-size: 16px;
}