.articles__search-info
{
    display: none;
    margin-top: 32px;
    text-align: center;
}

.articles__search-info--visible
{
    display: block;
}

.search-info__term
{
    font-weight: bold;
}

.articles__nothing-found-title
{
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 25px;
    color: var(--primary-green);
    font-weight: bold;
}

.articles__nothing-found-comment
{
    margin: 0 32px 64px 32px;
    text-align: center;
}